<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="net9.0" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" />
        <add key="Npgsql" value="https://www.myget.org/F/npgsql-vnext/api/v3/index.json" />
    </packageSources>
    <activePackageSource>
    </activePackageSource>
</configuration>